<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Main Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>username</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>password</string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Stay Signed-in</string>
			<key>Key</key>
			<string>staySignedIn</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>How big?</string>
			<key>Key</key>
			<string>howBig</string>
			<key>DefaultValue</key>
			<string>notUsed</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>howBig</string>
			<key>MaximumValue</key>
			<integer>100</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>DefaultValue</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Favorite Color</string>
			<key>Key</key>
			<string>favoriteColor</string>
			<key>DefaultValue</key>
			<string>blue</string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
			</array>
			<key>Values</key>
			<array>
				<string>red</string>
				<string>green</string>
				<string>blue</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>More Settings</string>
			<key>File</key>
			<string>MoreSettings</string>
		</dict>
	</array>
</dict>
</plist>
